<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JYWeiboProfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>629FFCCB1BD1D47D00298E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629FFCE41BD1D47D00298E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629FFCEF1BD1D47D00298E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
